<!DOCTYPE html>
<html ng-app='eShop'>
	<head>
		<title>E-Shop</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%= csrf_meta_tags %>		
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>		
	</head>
	<body>
		<%= render 'shared/header' %>
		<div class="container">
			 <div class="row">
			 	<div class="col-md-3">
			 		<%= render 'shared/siderbar' %>
			 	</div>
			 	<div class="col-md-9" id="content" ng-view>
			 		<%= yield %>	
			 	</div>
			</div>
		</div>
		<%= render 'shared/footer' %>
	</body>
</html>
